<div class="navbar navbar-default navbar-fixed-top">
	<div class="navbar-header">
		<ul class="nav navbar-nav">
			<li><a href="{{ url_for('index') }}" class="navbar-brand">{{ _('Home') }}</a></li>
		{% if session.user %}
			<li><a href="{{ url_for('logout') }}">{{ _('Logout') }}</a></li>
		{% else %}
			<li><a href="{{ url_for('login') }}">{{ _('Login') }}</a></li>
		{% endif %}
		</ul>
		<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
	</div>
	<div class="navbar-collapse collapse" id="navbar-main">
		<ul class="nav navbar-nav">
			<li><a href="{{ url_for('recent_feed') }}" class="icon-rss"></a></li>
		{% if session.user %}
			<li><a href="{{ url_for('users_list') }}">{{ _('Users') }}</a></li>
			<li><a href="{{ url_for('posts') }}">{{ _('Posts') }}</a></li>
			<li><a href="{{ url_for('new_post') }}">{{ _('New post') }}</a></li>
			<li><a href="{{ url_for('blog_settings') }}">{{ _('Settings') }}</a></li>
		{% endif %}
		</ul>
		<form class="navbar-form navbar-right search-form" method="post" action="{{ url_for('search') }}">
            <input type="text" name="query" class="form-control col-lg-8" placeholder="{{ _('Search') }}">
			<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
		</form>
	</div>
</div>
