html, body {height: 100%;margin: 0;}
body {padding-top:20px;}
#wrapper {min-height: 100%;}
.container {padding-bottom: 50px;}

.post {margin-top:2em;}
.content {font-size: 18px;line-height: 24px;}

.infopanel {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    border: 1px solid #E5E5E5;
    padding: 0 10px;
	margin-top: 10px;
 }
.infopanel .tags {margin:5px 0 5px 0;}

.pagination-wrap {text-align: center;}
.pagination {margin:100px auto; display: inline-block;}


.page-header a {
    color:#333;
    text-decoration: none;
    cursor:pointer;
}
.page-header a:hover{text-decoration: underline;}
.page-header h1,.splash h1 {font-size:4em;}

footer {
    color: #cccccc;
	height: 50px;
    margin-top: -50px;
}
footer .row {margin-left: 82px;}
footer p {
    clear:left;
    color: #d6d8dd;
    font-size: 12px;
}
footer a {color: #d6d8dd;}
/**********************************/
.not-found {text-align: center;}
.not-found h1 {
	font-size: 100px !important;
	font-weight: bold;
	margin-top: 50px;
}
.not-found p {
	color: #cccccc;
	font-size: 11px;
	margin:-26px 0 0 8px;
}

.response {margin-bottom: 24px;}
.message {
	padding: 15px 10px;
	font-size: 14px;
	font-weight: bold;
	line-height: 1.1;
	text-align: center;
	border-radius: 4px;
	border: 1px solid #ddd;
	box-sizing: border-box;
	color: #999;
}
.success {background-color: #dff0d8;}
.error {background-color: #f2dede;}

.preview-back {margin-top: 20px;}

div.mdm-buttons {width: 100% !important; background-color: #d6d8dd;}
div.mdm-buttons ul {margin: 10px 0 10px -30px;}
.mdm-control a {font-size: 16px !important;}
.mdm-control a.bigger {font-size: 2em !important;}

a.icon {
	text-decoration: none;
	cursor: pointer;
	color: inherit;
}

legend {border:none;}

.search-form {margin-right: 100px;}

@mediamax-width767px{
	.section-preview .image img {
		width:100%;
	}
}
