@keyframes slideOut {
  from { max-height: 0px; }
  to { max-height: 500px; }
}

@keyframes slideIn {
  from { max-height: 500px; }
  to { max-height: 0px; }
}

@-webkit-keyframes slideOut {
  from { max-height: 0px; }
  to { max-height: 500px; }
}

@-webkit-keyframes slideIn {
  from { max-height: 500px; }
  to { max-height: 0px; }
}

@-o-keyframes slideOut {
  from { max-height: 0px; }
  to { max-height: 500px; }
}

@-o-keyframes slideIn {
  from { max-height: 500px; }
  to { max-height: 0px; }
}

@-moz-keyframes slideOut {
  from { max-height: 0px; }
  to { max-height: 500px; }
}

@-moz-keyframes slideIn {
  from { max-height: 500px; }
  to { max-height: 0px; }
}

div.mdm-buttons,
div.mdm-preview {
  line-height: 1em;
  padding: 0px;
  max-height: 0px;
  overflow: hidden;
  background-color: white;
  box-sizing: border-box;
}

div.mdm-buttons.blur,
div.mdm-preview.blur {
  -webkit-animation: slideIn .5s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation: slideIn .5s;
  -moz-animation-fill-mode: forwards;
  -o-animation: slideIn .5s;
  -o-animation-fill-mode: forwards;
  animation: slideIn .5s;
  animation-fill-mode: forwards;
}

div.mdm-buttons.focus,
div.mdm-preview.focus {
  -webkit-animation: slideOut 2s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation: slideOut 2s;
  -moz-animation-fill-mode: forwards;
  -o-animation: slideOut 2s;
  -o-animation-fill-mode: forwards;
  animation: slideOut 2s;
  animation-fill-mode: forwards;
}

div.mdm-preview.focus {
  padding: 5px;
}

div.mdm-buttons {
  width: 148px;

  font-size: 12px;
}

div.mdm-buttons ul {
  margin: 10px;
}

div.mdm-buttons ul li{
  display: inline;
  margin: 0;
}

div.mdm-buttons ul li a{
  padding: 5px;
  color: black;
  text-decoration: none;
}

div.mdm-buttons ul li a span{
  display: none;
}

div.mdm-buttons ul li a:active{
  color: #ccc;
  position: relative;
  top: 1px;
}

div.mdm-preview strong {
  font-weight: bold;
}

div.mdm-preview em {
  font-style: italic;
}

div.mdm-preview ul {
  margin-left: 20px;
  list-style-type: disc;
}


div.mdm-preview h1,
div.mdm-preview h2,
div.mdm-preview h3{
  font-weight: bold;
}

div.mdm-preview h1 {
  font-size: 18px;
}

div.mdm-preview h2 {
  font-size: 14px;
}

div.mdm-preview h3 {
  font-size: 12px;
}
