body {padding-top:20px;}
.post {margin-top:2em;}
.content {
    font-size: 18px;
    line-height: 24px;
}

.infopanel {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    border: 1px solid #E5E5E5;
    padding: 0 10px;
    /*-webkit-border-radius: 5px;*/
    /*-moz-border-radius: 5px;*/
    /*border-radius: 5px;*/
	margin-top: 10px;
 }

.pagination-wrap {text-align: center;}
.pagination {margin:100px auto; display: inline-block;}

.infopanel .tags {margin:5px 0 5px 0;}

.page-header a {
    color:#333;
    text-decoration: none;
    cursor:pointer;
}
.page-header a:hover{text-decoration: underline;}
.page-header h1,.splash h1 {font-size:4em;}

footer {
    margin:5em 0 1em 0;
    color: #cccccc;
}
footer li {
    float:left;
    margin-right:1.5em;
    margin-bottom:1.5em;
}
footer p {
    clear:left;
    margin-bottom:0;
    color: #ccccff;
    font-size: 12px;
}
footer a {color: #ccccff;}

.not-found {text-align: center;}
.not-found h1 {
	font-size: 100px !important;
	font-weight: bold;
	margin-top: 50px;
}
.not-found p {
	color: #cccccc;
	font-size: 11px;
	margin:-26px 0 0 8px;
}
.response {margin-bottom: 24px;}
.message {
	padding: 15px 10px;
	font-size: 14px;
	font-weight: bold;
	line-height: 1.1;
	text-align: center;
	border-radius: 4px;
	border: 1px solid #ddd;
	box-sizing: border-box;
}
.success {
	color: #999;
	background-color: #dff0d8;
}
.error {
	color: #999;
	background-color: #f2dede;
}

@mediamax-width767px{
	.section-preview .image img {
		width:100%;
	}
}
