<head>
    <title>{%- if meta_title -%}{{ meta_title }}{%- else -%}Howdy!{%- endif -%}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
	<link href="{{ url_for('recent_feed') }}" rel="alternate" title="Recent Changes" type="application/atom+xml">
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
	<link href="{{ url_for('static', filename='css/mdmagick.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
</head>
