<!DOCTYPE html>
<html lang="en">
	{% block head %}{% include 'head.html' %}{% endblock %}
	<body>
		{% include 'nav.html' %}
		<div class="container">
			{% block body %}
				{% if posts %}
					{% for post in posts %}
						<div class="post clearfix">
							<div class="row">
								<div class="col-lg-8">
									<div class="page-header">
										<h1><a href="/post/{{ post['permalink'] }}">{{ post['title'] }}</a></h1>
										<p><i>Posted:&nbsp;</i> {{ post['post_date'] }} <i>By {{ post['author'] }}</i></p>
									</div>
									<div class="content">
										{{ post['body']|safe }}
									</div>
									<div class="infopanel">
										<div class="tags">
											<i>tags:</i>
											{% if post['tags'] %}
												{% for tag in post['tags'] %}
													&nbsp;<a href="/tag/{{ tag }}">{{ tag }}</a>
												{% endfor %}
											{% endif %}
										</div>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
				{% endif %}
			{% endblock %}
			{% include 'footer.html' %}
		</div>
		<script src="//codeorigin.jquery.com/jquery-2.0.3.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
		<script src="{{ url_for('static', filename='main.js') }}"></script>
	</body>
</html>
