<!DOCTYPE html>
<html lang="en">
	{% block head %}{% include 'head.html' %}{% endblock %}
	<body>
		{% include 'nav.html' %}

		<div class="container">
			{% block body %}
			<div class="post clearfix">
				<div class="row">
					<div class="col-lg-8">
						<div class="page-header">
							<h1><a>memo#0</a></h1>
							<p><i>Posted:&nbsp;</i> Fri, 09 Aug 2013 <i>By lazzy</i></p>
						</div>
						<div class="content">
							<p><strong>В <code>mySQL</code> создавая таблицу в процессе транзакции нельзя будет ее удалить при роллбэке.</strong><br> Это связанно с тем, что <code>CREATE TABLE</code> в <code>InnoDB</code> обрабатывается как отдельная транзакция. Это означает что <code>ROLLBACK</code>, инизиализируемый пользователем, не отменит <code>CREATE TABLE</code> сделанный в процессе транзакции.<br><a href="http://dev.mysql.com/doc/refman/5.1/en/implicit-commit.html" title="MySQL 5.1 Reference Manual :: 13.3.3 Statements That Cause an Implicit Commit" target="_blank">MySQL Reference Manual </a></p>
						</div>
						<div class="infopanel">
							<div class="tags">
								<i>tags:&nbsp;</i>
								<a href="/tag/wrist">wrist</a>
								&nbsp;<a href="/tag/pasta">pasta</a>
								&nbsp;<a href="/tag/pantyhose">pantyhose</a>
								&nbsp;<a href="/tag/freon">freon</a>
								&nbsp;<a href="/tag/tempo">tempo</a>
								&nbsp;<a href="/tag/pail">pail</a>
								&nbsp;<a href="/tag/atom">atom</a>
								&nbsp;<a href="/tag/hydrogen">hydrogen</a>
								&nbsp;<a href="/tag/pilot">pilot</a>
								&nbsp;<a href="/tag/secretary">secretary</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endblock %}
			{% include 'footer.html' %}
		</div>
		<script src="//codeorigin.jquery.com/jquery-2.0.3.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
		<script src="{{ url_for('static', filename='main.js') }}"></script>
	</body>
</html>
