<div class="navbar navbar-default navbar-fixed-top">
	<div class="navbar-header">
		<a href="/" class="navbar-brand">Home</a>
		<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
	</div>
	<div class="navbar-collapse collapse" id="navbar-main">
		<ul class="nav navbar-nav">
			<li><a class="icon-rss" href="{{ url_for('recent_feed') }}"></a></li>
			<li><a href="/newpost">New Post</a></li>
			<li><a href="">Logout</a></li>
		</ul>
	</div>
</div>