<div class="navbar navbar-default navbar-fixed-top">
	<div class="navbar-header">
		<ul class="nav navbar-nav">
			<li><a href="/" class="navbar-brand">CloudNS</a></li>
			<li><a href="{{ url_for('blog.index') }}" class="navbar-brand">Блог</a></li>
		{% if session.user %}
			<li><a href="{{ url_for('blog.logout') }}">Logout</a></li>
		{% else %}
{#			<li><a href="{{ url_for('blog.login') }}">Login</a></li>#}
		{% endif %}
		</ul>
		<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
	</div>
	<div class="navbar-collapse collapse" id="navbar-main">
		<ul class="nav navbar-nav">
			<li><a href="{{ url_for('blog.recent_feed') }}" class="icon-rss"></a></li>
		{% if session.user %}
			<li><a href="{{ url_for('blog.users_list') }}">Users</a></li>
			<li><a href="{{ url_for('blog.posts') }}">Posts</a></li>
			<li><a href="{{ url_for('blog.new_post') }}">New post</a></li>
			<li><a href="{{ url_for('blog.blog_settings') }}">Settings</a></li>
		{% endif %}
		</ul>
		<form class="navbar-form navbar-right search-form" method="post" action="{{ url_for('blog.search') }}">
            <input type="text" name="query" class="form-control col-lg-8" placeholder="Поиск">
			<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
		</form>
	</div>
</div>
